{% extends 'admin/base.html' %}

{% block content %}

    <form method='post' action='/admin/post/create/save'>

        <input 
            name="title" 
            placeholder="Title"
            class="title"></input>

        <textarea 
            name="short_text" 
            placeholder="Short Text"
            class="short-text"></textarea> 

        <textarea 
            name="content" 
            placeholder="Content"
            class="content"></textarea> 

        <input 
            name="keywords" 
            placeholder="Keywords"
            class="keywords"></input>

        {% include 'admin/controls.html' %}
    </form>


{% endblock %}
