<div class="byline">

    <p class="published-info">

        <i 
        title="last edited: {{ post['last_edited'] | human_readable_date or 'never' }}" 
        class="pencil-icon fa fa-pencil"></i> 
        <span 
        data-numeric-date="{{ post['date_published'] | clean_date }}"
        title="{{ post['date_published'] | clean_date }}" 
        class="post-published">{{ post['date_published'] | human_readable_date }}</span>

    </p>

    <ul class="post-keywords">

        {% for tag in post['tags'] %}
        <li class="post-keyword">
            <a href="/blog/search/{{ tag | trim }}">#{{tag}}</a>
        </li>
        {% endfor %}

    </ul>

</div>
