<div class="byline">

    <p class="published-info">

        <i class="pencil-icon fa fa-pencil"></i> 
        <span 
            data-numeric-date="{{ post['date_published'] | clean_date }}"
            title="{{ post['date_published'] | clean_date }}" 
            class="post-published">
            {{ post['date_published'] | human_readable_date }}
        </span>

    </p>

    <ul class="post-keywords">

        {% for tag in post['tags'] %}
        <li class="post-keyword">#{{tag}}</li>
        {% endfor %}

    </ul>

</div>
