{% extends 'base.html' %}

{% block content %}
<section class="about">

    <section class="img-box">

        <img 
        class="bio-img" 
        src="{{ url_for('static', filename='img/alex.jpg') }}" />
        <p class="img-caption">Photo by <a href="https://www.flickr.com/photos/dsquires/">Dan Squires</a>.</p>

    </section>

    <section class="about-copy">

        <h2>About Me</h2>

        <p>I'm Alex Ramsdell, a software developer in Seattle. I'm interested in building edible and accessible user interfaces for the web, progressive web apps, web instruments and useful command-line tools.</p> 

        <p>My trajectory into softwareland has mostly been a self-taught affair (althought this may change soon) and I consider that a strength.  I like constraints, I throw away a lot of code, and I live to refactor. These days I'm feeling the pull of the functional approach to software construction, as I keep discovering interesting and useful applications for higher-order functions.</p>

        <h2>Why No Code Highlighting?</h2>
        <p>
        I don't want to do it myself. I don't want to depend on a library that doesn't quite fit my design. 
        And I like black code. Crockford is right to argue for this. 
        </p>

        <h2>About This Site</h2>
        <p>
        I intend for this site to be a venue for focused articles on matters related to software. 
        With that said, I've always had a difficult time maintaining any kind of firm boundary between 
        software and the lessons and joys of life, so other topics may creep in. 
        </p> 
    </section>

</section>
{% endblock %}
