{% extends "base.html" %}

  {% block content %}


    <h1 class="archive-header">Archive</h1>

    <input id="archive-search">

    <ul ng-app="ArchiveApp" class="archive-list">
      {% for post in posts %}
        <li class="archive-post">
          <span class="archive-post-date">
            {{ post.date | human_readable_date}}
          </span>
          <a class="archive-post-text" href="/posts/{{post.post_id}}">
            {{post.title}}
          </a>
        </li>
      {% endfor %}
    </ul>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-beta.1/angular.js"></script>
    <script src="{{url_for('static',filename='js/archiveApp/app.js')}}"></script>
  {% endblock %}
