<!doctype html> <html lang="en"> <head> <title>Alex Ramsdell</title> <meta charset="utf-8"> <meta name="viewport" content="width=device-width, user-scalable=no"/> <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,400' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link href='https://fonts.googleapis.com/css?family=Lora|Lato|Source+Serif+Pro|Old+Standard+TT' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href={{url_for('static',filename="css/prism.css")}}>
  <link rel="stylesheet" href={{url_for('static',filename="css/style.css")}}>
  <script src={{url_for('static',filename="js/fastclick.js")}}></script>
  <script type="application/javascript">
    if ('addEventListener' in document) {
        document.addEventListener('DOMContentLoaded', function() {
            FastClick.attach(document.body);
        }, false);
    }
  </script>
</head>

<body>
{% block header %}
{% include "header.html" %}
{% endblock %}

<div class="content">
{% block content %}
{% endblock %}
</div>

{% include "footer.html" %}

{% block body_scripts %}
  {% include "body_scripts.html" %}
{% endblock %}
</body>
</html>
