  <!-- logo -->
  <h1 class="logo-container">
      <a class="logolink" href="/">AR</a>
  </h1>

  <!-- menu -->
  <nav class="main-menu">
    <ul>
      <li class="nav-item" id="blog"><a href="/">Blog</a></li>
      <li class="nav-item" id="projects"><a href="/projects">Projects</a></li>
      <li class="nav-item" id="guides"><a href="/guides">Guides</a></li>
      <li class="nav-item" id="fun"><a href="/fun">Fun</a></li>
      <li class="nav-item" id="about-me"><a href="/about">About Me</a></li>
    </ul>
  </nav>

<!-- hidden 'to top button, unhides on scroll down-->
<aside class="hidden" id="to-top">
  <span id="carrot"><a href="#top">^</a></span>
</aside>

<!-- social media bar -->
<aside id="social-media" class="pink media-up">
   <ul>
      <li>
        <a href="https://github.com/foundling"><i class="fa fa-github-alt social-media-icon"></i></a>
      </li>
      <li>
        <a href="https://linkedin.com/in/alexramsdell"><i class="fa fa-linkedin social-media-icon"></i></a>
      </li>
      <li>
      <a href="https://stackoverflow.com/users/2446351/foundling">
        <i class="fa fa-stack-overflow social-media-icon"></i>
      </a>
      </li>
      <li>
        <a href="/archive">
          <i class="fa fa-search social-media-icon"></i>
        </a>
      </li>
    </ul>
</aside>
