<header id="desktop-header">

  <!-- logo -->
  <h1 class="logo"><span>AR</span></h1>

  <!-- menu -->
  <nav>
    <ul>
      <li class="nav-item"><a href="">Blog</a></li>
      <li class="nav-item"><a href="">Projects</a></li>
      <li class="nav-item"><a href="">Guides</a></li>
      <li class="nav-item"><a href="">Fun</a></li>
      <li class="nav-item"><a href="">About Me</a></li>
      <li  class="nav-item">
        <i id="search-icon" class="fa fa-search"></i>
        <input id="search-input" type="text">
      </li>
      <li class="nav-item">
        <a href=""><i class="fa fa-github"></i></a>
      </li>
      <li class="nav-item">
        <a href=""><i class="fa fa-linkedin"></i></a>
      </li>
      <li class="nav-item">
        <a href=""><i class="fa fa-stack-overflow"></i></a>
      </li>
    </ul>
  </nav>
</header>

<header id="mobile-header">
  <!-- logo -->
  <h1 class="logo"><span>AR</span></h1>
  <!-- menu -->
  <div class="lightgray color-block"></div>
  <div class="yellow color-block"></div>
  <div class="pink color-block"></div>
  <div class="white color-block"></div>
  <div class="blue color-block"></div>
  <div class="yellow color-block"></div>
  <div class="pink color-block"></div>
  <div class="white color-block"></div>
  <div class="blue color-block"></div>
  <div class="lightgray color-block"></div>

</header>

