<header >

  <!-- logo -->
  <h1 class="logo-container">
    <span id="logotext">
      <a id="logolink" href="/">AR</a>
    </span>
  </h1>

  <!-- social media bar -->
  <aside id="social-media" class="pink media-up">
    <ul>
      <li>
        <a href="https://github.com/foundling"><i class="fa fa-github-alt"></i></a>
      </li>
      <li>
        <a href="https://linkedin.com/in/alexramsdell"><i class="fa fa-linkedin"></i></a>
      </li>
      <li>
      <a href="https://stackoverflow.com/users/2446351/foundling">
        <i class="fa fa-stack-overflow"></i>
      </a>
      </li>
      <li>
        <a href="/archive"><i class="fa fa-search"></i></a>
      </li>
    </ul>
  </aside>


  <!-- menu -->
  <nav>
    <ul>
      <li class="nav-item" id="blog"><a href="/">Blog</a></li>
      <li class="nav-item" id="projects"><a href="/projects">Projects</a></li>
      <li class="nav-item" id="guides"><a href="/guides">Guides</a></li>
      <li class="nav-item" id="fun"><a href="/fun">Fun</a></li>
      <li class="nav-item" id="about-me"><a href="/about">About Me</a></li>
    </ul>
  </nav>

</header>


