{% extends "base.html" %}

  {% block content %}

    {% for post in posts %}

      <a class="title-link" href="/posts/{{post.post_id}}#top">
        <h1>{{post.title}}</h1>
      </a>

      <aside class="byline"> 
        <div class="color-block"></div>
        <h4 class="byline-text">by {{post.author}} {{post.date | human_readable_date }}</h4> 
      </aside>

      <span class="post-body">{{ post.short_text | markdown }}</span>

      <aside class="link-to-full-article">
        <div class="triangle-right"></div>
        <a class="full-article" href="/posts/{{post.post_id}}#top">full article</a>
      </aside>

    {% endfor %}

    <div class="link-to-more-posts">
      <a class="more-posts" href="/blog/archive">MORE POSTS</a>
      <div class="color-triangle"></div>
    </div>

  {% endblock %}
