{% extends "base.html" %}

  {% block content %}

    {% for post in posts %}
      <h1>{{post.title}}</h1>
      <div class="color-block"></div>
      <h4>by {{post.author}} {{post.date_published | human_readable_date }}</h4>
      <p class="post-body">{{ post.short_text | markdown }}
        <span class="link-to-fulltext"><a href="/posts/{{post.post_id}}">> full article</a></span>
      </p>
    {% endfor %}

    <div>
      <a href="/blog/archive">MORE POSTS</a><div class="color-triangle"></div>
    </div>

  {% endblock %}
