{% extends "base.html" %}

  {% block content %}

  <!-- PROJECTS HEADER -->
    <section class="projects-header">
      <nav class="projects-menu">
        <h1>Projects</h1>
        <ul class="projects-menu-list">
          {% for project in projects %}
          <li class="projects-menu-item">
            <div class="color-block"></div>
            <span class="project-list-name">{{project.name}}</span>
          </li>
          {% endfor %}
        </ul>
      </nav>
      <aside class="projects-illustration-container">
          <div class="diamond"></div>
          <div class="diamond"></div>
          <div class="diamond"></div>
          <div class="diamond"></div>
      </aside>
    </section>

    <!-- Project Descriptions -->
    <ul>
      {% for project in projects %}
        <!-- title and github repo link -->
        <h2 class="project-name">{{project.name}}
          <a href="{{project.github_repository}}">
            <i class="fa fa-github-alt"></i>
          </a>
        </h2>

        <!-- description -->
        <p class="project-description">
          {{project.description}}
        </p>

        <!-- screenshots -->
        {% for filename in project.image_filenames %}
        <img src="{{url_for('static',filename='img/projects/' + project.name + '/' + filename)}}">
        {% endfor %}

      {% endfor %}
    </ul>
  {% endblock %}
