{% extends "base.html" %}

  {% block content %}

  <!-- PROJECTS HEADER -->
    <section class="projects-header">
      <nav class="projects-list">
        <h1>Projects</h1>
        <ul>
          {% for project in projects %}
          <li>
            <div class="color-block"></div>
            <span class="project-name">{{project.name}}</span>
          </li>
          {% endfor %}
        </ul>
      </nav>
      <aside class="projects-illustration-container">
          <div class="diamond"></div>
          <div class="diamond"></div>
          <div class="diamond"></div>
          <div class="diamond"></div>
      </aside>
    </section>

    <!-- Project Descriptions -->
    <ul>
      {% for project in projects %}
      <h1>{{project.name}}</h1>
      <p class="project-description">{{project.description}}</p>
        {% for screenshot in project.screenshots %}
        <img src="{{url_for('static',filename='img/' + screenshot)}}">
        {% endfor %}
      {% endfor %}
    </ul>
  {% endblock %}
