html, body {
    height: 100%;
    border: 0;
    margin: 0;
}

textarea,
input {
    border: 3px solid lightgray;
    background: whitesmoke;
    outline: none;
    padding: 20px;
}

textarea:focus,
input:focus {
    background: lightblue;
}

textarea.content {
    width: 100%;
    height: 100vh;
    font-size: 1.5em;
}

input.title {
    width: 100%;
    font-size: 1.5em;
}

html, body, body * {
    box-sizing: border-box;
}
body * { 
    font-family: sans-serif;
}
h1 {
}

button.save:hover,
button.markdown-preview:hover {
    background: lightgreen;
}
button.save,
button.markdown-preview {
    border: none;
    height: 40px;
    width: 120px;
    display: inline-block;
    vertical-align: bottom;
}

section.edit-controls {
    position: absolute;
    bottom: 25px;
    right: 25px;
}

h2,
.add-post {
    display: inline-block;
}

