html, body, body * {
    box-sizing: border-box;
}

body * { 
    font-family: sans-serif;
}

html, body {
    height: 100%;
    border: 0;
    margin: 0;
}

/* dashboard */

h2,
.add-post {
    display: inline-block;
}

/* create inputs */
textarea,
input {
    width: 100vw;
    border: 3px solid lightgray;
    background: whitesmoke;
    outline: none;
    padding: 20px;
}

textarea:focus,
input:focus {
    background: lightblue;
}

input.title {
    height: 10vh;
    font-size: 1.5em;
}

textarea.short-text {
    height: 10vh;
}

input.keywords {
    height: 10vh;
    width: 75vw;
}

select.collection {
    height: 5vh;
}

textarea.content {
    height: 65vh;
    font-size: 1.5em;
}


section.controls {
    position: absolute;
    bottom: 20px;
    right: 0px;
    width: 25vw;
}

button.save:hover,
button.markdown-preview:hover {
    background: lightgreen;
}

button.save,
button.markdown-preview {
    border: none;
    height: 40px;
    width: 120px;
    display: inline-block;
    vertical-align: bottom;
}

