{% extends "base.html" %}

  {% block content %}
    <h1>Projects</h1>
    <ul>
      {% for project in projects %}
      <div class="color-block"></div><li>{{project.name}}</li>
      {% endfor %}
    </ul>
    <ul>
      {% for project in projects %}
      <h1>{{project.name}}</h1>
      <p class="project-description">{{project.description}}</p>
        {% for screenshot in project.screenshots %}
        <img src="{{url_for('static',filename='img/' + screenshot)}}">
        {% endfor %}
      {% endfor %}
    </ul>
  {% endblock %}
