/*
 * Header
 */

nav.blog-nav h1,
nav.blog-nav ul,
nav.blog-nav li {
    display: inline-block;
    vertical-align: baseline;
}

/* 
 * Recent Post List
 */


section.recent-posts-list {
    margin: 3% 5%;
    text-align: left;
}

article.recent-post {
    margin: 0 auto;
    width: 60%;
    padding: 1% 0%;
}

.social-media-icons,
.recent-post-title {
    display: inline-block;
}

ul.post-keywords {
    display: inline-block;
    padding-left: 5px;
}

li.post-keyword {
    display: inline-block;
    padding: 2px 5px;
    background: lightgreen;
    opacity: 0.8;
    color: white;
}

div.byline {
    margin: 15px 0px 5px 0px;    
    padding: 0px 2px;
    font-size: .9em;
    display: inline-block;
}

.post-published,
.pencil-icon,
.post-updated {
    padding: 2px;
    background: white;
}

.pencil-icon {
    color: rgba(255, 0, 0, 0.62);
}

p.recent-post-stub {
    margin: 5px 0px 5px 0px;
    text-align: left;

}

.more-posts {
    padding: 3% 0% 1% 0%;
    width: 60%;
    margin: 0 auto;
}
.more-posts a {
    padding: 10px;
    background: lightgreen;
    border-radius: 5px;
}
