{% extends 'admin/base.html' %}

{% block content %}

    <form method='post' action='/admin/post/new/save'>

        <label>Content Type:</type>
        <select name="content_type">
            <option value="article">Article</option>
            <option value="news">News</option>
            <option value="quick_tip">Quick Tip</option>
            <option value="project">Project</option>
        </select>

        <input 
            name="title" 
            placeholder="Title"
            value="title"
            class="title"></input>

        <textarea 
            name="short_text" 
            placeholder="Short Text"
            value="short text"
            class="short-text"></textarea> 

        <textarea 
            name="content" 
            placeholder="Content"
            value="content"
            class="content"></textarea> 

        <input 
            name="tags" 
            placeholder="Tags"
            value=""
            class="tags"></input>

        {% include 'admin/controls.html' %}
    </form>


{% endblock %}
