{% extends 'admin/base.html' %}

{% block content %}
<section class="edit-post">

    <form method="post" action="/admin/post/{{ post['_id'] }}/save">

        <label>Content Type:</label>
        <select name="content_type"> 
            <option 
                {% if post['content_type'] == 'article' %}
                selected="selected"
                {% endif %}
                value="article">
                Article</option>
            <option 
            {% if post['content_type'] == 'quick_tip' %}
            selected="selected"
            {% endif %}
            value="quick_tip">Quick Tip</option>
            <option 
            {% if post['content_type'] == 'news' %}
            selected="selected"
            {% endif %}
            value="news">News</option>

            <option 
            {% if post['content_type'] == 'project' %}
            selected="selected"
            {% endif %}
            value="project">Project</option>

        </select>

        <input 
        type="hidden" 
        name="_id" 
        value="{{ post['_id'] }}"></input>

        <input 
        name="title" 
        value="{{ post['title'] }}"
        placeholder="Title"
        class="title"></input>

        <textarea 
        name="short_text" 
        placeholder="Short Text"
        class="short-text">{{ post['short_text'] }}</textarea> 

        <textarea 
        name="content" 
        placeholder="Content"
        class="content">{{ post['content'] }}</textarea> 

        <input 
        name="tags" 
        placeholder="Tags"
        value="{{ post['tags'] | join(', ') }}"
        class="tags" />

        <section class="controls">
            <button 
            type="submit" 
            class="save">Update</button>
        </section>

    </form>

    <form 
    class="delete-post" 
    action="/admin/post/{{ post['_id'] }}/delete" 
    method="post">
        <button 
        type="submit" 
        class="delete-post">Delete</button>
    </form>


</section>
{% endblock %}
