{% extends 'admin/base.html' %}

{% block content %}
<section class="edit-post">

    <form method="post" action="/admin/post/{{ post['_id'] }}/save">

        <input 
        type="hidden" 
        name="_id" 
        value="{{ post['_id'] }}"></input>

        <input 
        name="title" 
        value="{{ post['title'] }}"
        placeholder="Title"
        class="title"></input>

        <textarea 
        name="short_text" 
        placeholder="Short Text"
        class="short-text">{{ post['short_text'] }}</textarea> 

        <textarea 
        name="content" 
        placeholder="Content"
        class="content">{{ post['content'] }}</textarea> 

        <input 
        name="tags" 
        placeholder="Tags"
        value="{{ post['tags'] | join(', ') }}"
        class="tags" />

        <section class="controls">
            <button 
            type="submit" 
            class="save">Update</button>
        </section>

    </form>

    <form 
    class="delete-post" 
    action="/admin/post/{{ post['_id'] }}/delete" 
    method="post">
        <button 
        type="submit" 
        class="delete-post">Delete</button>
    </form>


</section>
{% endblock %}
