<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Alex Ramsdell</title>
        <link rel="stylesheet" type="text/css" href="../static/css/base.css">
        <link rel="stylesheet" type="text/css" href="../static/css/blog.css">
    </head>
    <body>
        <header class="site-header">
            <nav class="blog-nav">
                <h1>Alex Ramsdell</h1>
                <ul>
                    <li>
                        <a href="projects">projects</a>
                    </li>
                    <li>
                        <a href="blog">blog</a>
                    </li>
                    <li>
                        <a href="gitbooks">gitbooks</a>
                    </li>
                    <li>
                        <a href="fun">fun</a>
                    </li>
                </ul>
            </nav>
        </header>

        <div class="main">
            <section class="recent-posts-list"> 

                <article class="recent-post"> 
                    <h3 class="recent-post-title">The Grump Web</h3>
                    <div class="byline">
                        <p>
                            Posted <span class="post-published">12-01-2016</span>.
                            Updated on <span class="post-updated">12-03-2016.</span>
                        </p>
                    </div>
                    <p class="recent-post-stub">
                    The older I get, the more I find a need to be a part of a programming community. But many hacker news
                    and the many programming sub Reddits are starting to wear on my sensibilities. 
                    </p>
                    <ul class="post-keywords">
                        <li class="post-keyword"></li>
                    </ul>
                </article> 

                <article class="recent-post"> 
                    <h3 class="recent-post-title">Re-examining the Bus Factor</h3>
                    <div class="byline">
                        <p>
                            Posted <span class="post-published">12-01-2016</span>.
                            Updated on <span class="post-updated">12-03-2016.</span>
                        </p>
                    </div>
                    <p class="recent-post-stub">
                    In open-source software, when a project offers enough value to a community, 
                    people start to consider ways in which that project could be taken away.
                    </p>
                    <ul class="post-keywords">
                        <li class="post-keyword"></li>
                    </ul>
                </article> 

                <article class="recent-post"> 
                    <h3 class="recent-post-title">A Room With a Vue.js</h3>
                    <div class="byline">
                        <p>
                            Posted <span class="post-published">12-01-2016</span>.
                            Updated on <span class="post-updated">12-03-2016.</span>
                        </p>
                    </div>
                    <p class="recent-post-stub">
                    Vue.js is a pretty nice framework.  
                    </p>
                    <ul class="post-keywords">
                        <li class="post-keyword"></li>
                    </ul>
                </article> 

                <article class="recent-post"> 
                    <h3 class="recent-post-title">
                        <a class="recent-post-title-link">Web Synths!</a>
                    </h3>
                    <div class="byline">
                        <p>
                            Posted <span class="post-published">12-01-2016</span>.
                            Updated on <span class="post-updated">12-03-2016.</span>
                        </p>
                    </div>
                    <p class="recent-post-stub">
                    I recently started building a Midi-capable HTML5 Websynth. Here's a tutorial that 
                    goes through that process.
                    </p>
                    <ul class="post-keywords">
                        <li class="post-keyword"></li>
                    </ul>
                </article> 
                <article class="recent-post"> 
                    <h3 class="recent-post-title">
                        <a class="recent-post-title-link">Web Synths!</a>
                    </h3>
                    <div class="byline">
                        <p>
                            Posted <span class="post-published">12-01-2016</span>.
                            Updated on <span class="post-updated">12-03-2016.</span>
                        </p>
                    </div>
                    <p class="recent-post-stub">
                    I recently started building a Midi-capable HTML5 Websynth. Here's a tutorial that 
                    goes through that process.
                    </p>
                    <ul class="post-keywords">
                        <li class="post-keyword"></li>
                    </ul>
                </article> 
                <article class="recent-post"> 
                    <h3 class="recent-post-title">
                        <a class="recent-post-title-link">Web Synths!</a>
                    </h3>
                    <div class="byline">
                        <p>
                            Posted <span class="post-published">12-01-2016</span>.
                            Updated on <span class="post-updated">12-03-2016.</span>
                        </p>
                    </div>
                    <p class="recent-post-stub">
                    I recently started building a Midi-capable HTML5 Websynth. Here's a tutorial that 
                    goes through that process.
                    </p>
                    <ul class="post-keywords">
                        <li class="post-keyword">#webaudio #webmidi</li>
                    </ul>
                </article> 

                <h3 class="more-posts">
                    <a href="archive">More Posts</a>
                </h3>

            </section> 
        </div>
        <footer>
            <p>Made with &hearts; by 
                <a href="https://github.com/foundling">@foundling</a> and
                <a href="https://twitter.com/drlolzrofl">@DrLolzRofl</a>.
            </p>
        </footer>
    </body>
</html>
