<a 
    class="title-link" 
    href="{{ url_for('single_blog_post', post_id=post.post_id) }}">
    {% if 'news' in post.tags %}
        <span class="title-news-prefix">[news]</span>  
    {% endif %}
    <h1 class="title-text">{{post.title}}</h1>
</a>

<ul class="post-tags">
    {% for tag in post.tags %}
    <li class="post-tag">{{tag}}</li>
    {% endfor %}
</ul>
<span class="byline"> 
    <div class="color-block"></div>
    <h4 class="byline-text">by {{post.author}} {{post.date | human_readable_date }}</h4> 
</span>
