{% extends 'admin/base.html' %}

{% block content %}

    <form method='post' action='/admin/post/new/save'>

        <input 
            name="project-title" 
            placeholder="Title"
            value="project-title"
            class="project-title"></input>

        <textarea 
            name="project-description" 
            placeholder="Description"
            value="project-description"
            class="project-description"></textarea> 

        <textarea 
            name="project-content" 
            placeholder="Content"
            value="project-content"
            class="project-content"></textarea> 

        <input 
            name="project-tags" 
            placeholder="Tags"
            value="test"
            class="project-tags"></input>

        {% include 'admin/controls.html' %}
    </form>


{% endblock %}
