pre {
    background: rgba(144,238,144,0.8); 
    margin: 0% 0% 3% 0%;
    padding: 20px;
    max-width: 100%;
    overflow-x: scroll;
}
p > code,
li > code {
    padding: 2px 5px;
    background: white;
    color: rgba(255, 0, 0, 0.8);
}

code {
    text-shadow: 0px 1px 0px white;
}

@media(max-width: 750px) {

    pre {
        margin: 0% 0% 8% 0%;
    }
}


