li.post-keyword {



    border: 1px solid transparent;

    &:hover {
        border: 1px solid transparent;
        background: rgba(144,238,144,0.4);
        color: rgb(70,70,70);
    }

    >a {
        color: white;
    }

    >a:hover {
        color: rgb(70,70,70);
    }

}

section.single-post {

    >p {
        padding: 20px 0;
    }
    >p:first-of-type {
        padding: 4% 0px;
    }
    >p {
        padding: 0% 0% 3% 0%;
    }

    h1 {
        padding: 4% 0%;
    }
    h2, h3, h4 {
        margin-top: 2%;
        margin-bottom: 2%;
    }

    
}

@media(max-width: 750px) {

    section.single-post {

        >p:first-of-type {
            padding: 8% 0%;
        }

        >p {
            padding: 0% 0% 8% 0%;
        }

        h1 {
            padding: 4% 0%;
        }

        h2,h3,h4 {
            margin-bottom: 8%;
        }

    }

}
