// the selectors are relative because i'm working off of a markdown file

div#about {
    margin-top: 5%;
}

#about h1 {
    font-size: 3em;
    text-shadow: 2px 4px 0px lightgray;
}

#about p {
    padding: 20px 0px;
    font-size: 1.5em;
    line-height: 1.5em;
}

#about ul li,
#about ol li {
  list-style-type: initial;
  margin-left: 30px;
  font-size: 1.5em;
  font-family: Baskerville;
}

#about a {
  color: $blue;
}

#about a:hover {
  background: $pink;
  color: white;
}

#about li {
  padding: 2px;
}

#about ul li a {
  padding: 2px;
  color: $blue;
}

#about ul li a:hover {
  background: $pink;
  color: white;

}
