div#archive {

    li {
        list-style-type: none;
    }

    ul {
        padding-top: 60px;
    }
    h1.archive-header {
      text-align: center;
      font-size: 3em;
      text-shadow: 2px 4px 0px lightgray;
    }

    a.archive-post-text {
      font-size: 1.4em;
    }

    span.archive-post-date {
      font-size: 1.1em;
    }

    a.archive-post-text {
      color: $blue;
      margin-left: 30px;
      padding: 2px 5px;
    }
    a.archive-post-text:hover {
      background: $pink;
      color: whitesmoke;
      margin-left: 30px;
      padding: 2px 5px;
    }

}
