/* CONTENT */

.byline {
  display: inline-block;
  font-family: Verdana;
  font-weight: 100;
  padding-left: 10px;
  padding-bottom: 3em;
}

.content, .content p, .content h1 {
  margin: 0 auto;
}

.content {
  padding-top: 40px;
  width: 680px;
  padding-left: 20px;
  padding-bottom: 80px;
}


.content p {
  font-size: 1.5em;
  font-family: Baskerville;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
}

.content a:hover {
  background: $pink;
  color: white;
}
.content a {
  color: $blue;

}

.content h1 {
  width: 100%;
  font-size: 3em;
  font-family: Verdana;
  font-weight: 600;
  margin-top: 1.4em;
  margin-bottom: 0.5em;
}

.content li
{
  font-family: Baskerville;
  list-style-type: decimal;
  font-size: 1.5em;
  margin: 20px auto;
  width: 80%;
}

img {
  text-align: center;
  margin: 40px 10%;
  width: 80%;
  max-width: 500px;
}

/* PRISM OVERRIDE STYLES */ 
pre[class*="language-"] { 
  background: white;
  border: 1px solid black;
  margin-top: 40px;
  padding-top: 30px;
  padding-left: 30px;
}

pre.code
{
  overflow: hidden;    
}

