/* CONTENT */

// Verdana for non body font
.link-to-full-article, 
.link-to-more-posts, 
.content h1 {
  font-family: "Verdana", sans-serif;
}

// Baskerville for body font
.content p,
.content li {
  font-family: "Baskerville", serif;
}

.full-article, 
.more-posts {
  padding: 15px 5px 0px;
}

a.link-to-full-article,
a.link-to-more-posts {
  border-bottom: 2px solid transparent;
  color: $blue;
  padding: 4px 5px 2px 5px;
}

a.link-to-more-posts {
  margin-left: -5px;
}

a.link-to-full-article:hover,
a.link-to-more-posts:hover {
  background: $pink;
  color: white;
  border-bottom: 2px solid $blue;
}

a.link-to-more-posts {
  border-bottom: 2px solid transparent;
}


.content,
.content p,
.content h1,
.content img {
  margin: 0 auto;
  max-width: 100%;
}

.content {
  width: 680px;
  padding: 40px 0px 80px 20px;
}

.content p {
  font-size: 1.5em;
  line-height: 150%;
  padding-top: 25px;
  padding-bottom: 25px;
  width: 100%;
}


a.title-link:hover,
a.title-link {
  background: transparent;
  color: black;
  background: initial;
  padding: initial;
  border-radius: initial;
}

.content h1 {
  width: 100%;
  font-size: 3em;
  font-weight: 600;
  margin-top: 1.4em;
  margin-bottom: 0.5em;
}


.content ol li
{
  list-style-type: decimal;
  margin: 20px auto;
  width: 90%;
  font-size: 1.5em;
}

img {
  text-align: center;
  margin: 40px 10%;
  width: 80%;
  max-width: 500px;
}

/* PRISM OVERRIDE STYLES */ 
pre[class*="language-"] { 
  background: white;
  border: 1px solid black;
  margin-top: 40px;
  padding-top: 30px;
  padding-left: 30px;
  max-width: 100%;
}

pre.code
{
  overflow: hidden;    
}
