/* CONTENT */

.full-article, .more-posts {
  font-family: Verdana;
}

.link-to-full-article,
.link-to-more-posts {
  padding: 15px 5px 0px;
};


.content, .content p, .content h1, .content img {
  margin: 0 auto;
  max-width: 100%;
}

.content {
  padding-top: 40px;
  padding-bottom: 80px;
  width: 680px;
  padding-left: 20px;
}

.content p {
  font-size: 1.5em;
  font-family: Baskerville;
  padding-top: 25px;
  padding-bottom: 25px;
  width: 100%;
  line-height: 150%;
}

.content a {
  color: $blue;
}

.content a:hover {
  color: white;
  background: $pink;
  padding: 0px 5px;
  border-radius: 2px;
}

a.title-link:hover,
a.title-link {
  background: transparent;
  color: black;
  background: initial;
  padding: initial;
  border-radius: initial;
}

.content h1 {
  width: 100%;
  font-size: 3em;
  font-family: Verdana;
  font-weight: 600;
  margin-top: 1.4em;
  margin-bottom: 0.5em;
}


.content ol li
{
  font-family: Baskerville;
  list-style-type: decimal;
  margin: 20px auto;
  width: 90%;
  font-size: 1.5em;
}

img {
  text-align: center;
  margin: 40px 10%;
  width: 80%;
  max-width: 500px;
}

/* PRISM OVERRIDE STYLES */ 
pre[class*="language-"] { 
  background: white;
  border: 1px solid black;
  margin-top: 40px;
  padding-top: 30px;
  padding-left: 30px;
  max-width: 100%;
}

pre.code
{
  overflow: hidden;    
}
