/* LOGO */

h1.logo-container,
nav.main-menu,
a.logolink,
li.nav-item,
li.nav-item a,
a#caret
{
  font-family: "Verdana";
  display:inline-block;
}

.logo-container {
  background: $blue;
  height: $headerHeight;
  width: $headerHeight;
  text-align: center;
  transition: background-color .5s linear;
}

.logolink:hover {
  font-size: 42px;
}
.logo-container:hover {
  background: $lightblue;
}

.logolink { 
  color: $yellow; 
  font-size: 32px;
  line-height: $headerHeight;

  text-stroke-color: transparent;
  -webkit-text-stroke-color: transparent;
  -moz-text-stroke-color: transparent;

  text-fill-color: $yellow;
  -webkit-text-fill-color: $yellow;
  -moz-text-fill-color: $yellow;
  -o-text-fill-color: $yellow;
  -ms-text-fill-color: $yellow;

  text-stroke-width: 14px;
  -webkit-text-stroke-width: 14px;
  -moz-text-stroke-width: 14px;
  -o-text-stroke-width: 14px;
  -ms-text-stroke-width: 14px;

  text-shadow: 3px 2px 0px $pink;
  -webkit-text-shadow: -3px 2px $pink;
  -moz-text-shadow: -3px 2px $pink;
  -o-text-shadow: -3px 2px $pink;
  -ms-text-shadow: -3px 2px $pink;

  transition: font-size .5s ease;
  -webkit-transition: font-size .5s ease;
  -moz-transition: font-size .5s ease;
  -o-transition: font-size .5s ease;
  -ms-transition: font-size .5s ease;
}


.logo-container,
.main-menu
{
  vertical-align: top;
}

// Navigation Bar
.main-menu {
  width: calc(100% - 90px);
  margin-left: -4px;
  height: $headerHeight; 
  background: $yellow;
  text-align: center;
}

.main-menu ul {height: 100%;}

.nav-item {
  border-bottom: 4px solid transparent;
  font-size: 1.1em;
  line-height: $headerHeight;
  text-shadow: -1px 1px transparent;
  padding: 0% 2%;
  -webkit-text-stroke-fill: white;
  -webkit-text-stroke-width: 14px;
  -webkit-text-stroke-color: transparent;
  transition:   border-bottom .5s ease, 
                background .5s ease;
}

// hover stuff for nav items
.nav-item:hover {
  border-bottom: 4px solid $pink;
  background: $blue;
}

li.nav-item a {
  height: 100%;
  width: 100%;
  text-shadow: 1px 2px 0px lightgray;  
  transition: 0.5s ease text-shadow;
}

li.nav-item a:hover {
  color: $yellow;
  text-shadow: 2px 2px 0px black;  
}

li.current-page-highlight {
  border-bottom: 4px solid $pink;
}

// TO TOP MODULAR ARROW
aside#to-top {
  position: fixed;
  top: 0;
  left: 0;
  height: $headerHeight;
  width: $headerHeight;
  display: flex;
  align-items: center;
  justify-content: center;
}

a#caret {
  width: $headerHeight;
  height: $headerHeight;
  line-height: $headerHeight;  
  font-size: 50px;
  font-family: Verdana;
  color: $lightblue;
  background: $whitesmoke;
  text-align: center;
  transition: opacity 1s ease-in;
  padding-top: 5px; // to offset the natural space below the caret
}

a#caret:hover {
  color: $whitesmoke;
  background: $lightblue;
}

// SOCIAL MEDIA MENU / SEARCH
.social-media-icon {
  margin-top: 25px;
  transition: font .3s ease;
  color: white;
  font-size: 1.6em;
}

.social-media-icon:hover {
  color: $yellow;
  font-size: 1.9em;
}

#social-media {
  display: inline-block;
  position: fixed;
  top: 90px; 
  left: 0px;
  width: $headerHeight;
  height: calc( (2 * #{$headerHeight}) + 48px );
  text-align: center;
}

#search-icon-input,
#search-icon {
}

::-webkit-input-placeholder {
   color: $black;  
}

:-moz-placeholder { /* Firefox 18- */
   color: $black;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: $black;  
}

:-ms-input-placeholder {  
   color: $black;  
}

#search-icon-input {
  margin-bottom: 20px;
  margin-top: 20px;
  border: 4px solid $pink;
  background: $whitesmoke;
  font-size: 1.2em;
  padding-left: 1em;
  color: $black;
  height: 45px;
  width: 200px;
}

input.visible {
  display: inline-block;
}
input.invisible {
  display: none;
}
