
.projects-header {
  display: block;
  padding-top: 90px;
  padding-bottom: 80px;

}

.project-name,
.project-list-name {
  font-family: "Verdana", sans-serif;
}

.project-list-name {
  margin-left: 5px;
}

.project-list-name a {
  color: $black;
}

.project-list-name a:hover,
a.top-link {
  color: $black;
}

a.top-link {
  background: transparent;
  border-bottom: 2px solid transparent;
  display: inline-block;
  font-size: 0.7em;
  padding: 0px 0px 4px 0px;
}

a.top-link:hover {
  border-bottom: 2px solid $blue;
  background: transparent;
  color: $black;
  padding: 0px 0px 4px 0px;
}

.project-name {
  font-size: 22px;
  width: 100%;
}

.project-name,
.repo,
.fa-github-alt,
.top-link {
  vertical-align: bottom;
  display: inline-block;
}

a.repo,
a.repo:hover {
  color: $blue;
  background: transparent;
  padding: 4px 5px 2px 5px;
}

a.repo {
  border-bottom: 2px solid transparent;
}
a.repo:hover {
  border-bottom: 2px solid $blue;
}


.projects-menu-list {
  padding-top: 30px;
  padding-left: 30px;
}

.projects-menu-item {
  margin: 10px 0px 10px 0px;
  font-size: 1.2em;
}

.single-project:not(:first-child) {
  padding-bottom: 40px;
}

.projects-menu,
.projects-illustration-container
{ 
  display: inline-block;
  vertical-align: top;
  width: 49%;
}

.projects-illustration-container {
  position: relative;
  top: -85px;
}

.diamond {
  position: absolute;
  left: 40px;
  height: 12vw;
  min-height: 80px;
  width: 12vw;
  min-width: 80px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.diamond:nth-child(1) {
  background: lightgray;
  top: 40px;
}

.diamond:nth-child(2) {
  background: $blue;
  top: 80px;
}

.diamond:nth-child(3) {
  top: 120px;
  background: $pink;
}

.diamond:nth-child(4) {
  top: 160px;
  background: $yellow;
}

