.top-link {
  font-size: 12px;
  display: inline-block;
}

.projects-header {
  display: block;
  padding-top: 90px;
  padding-bottom: 80px;

}

.project-list-name {
  font-family: "Verdana";
  margin-left: 5px;
}

.project-list-name a {
  color: $black;
}
.project-list-name a:hover,
.top-link:hover {
  color: $black;
  background: transparent;
}

.project-name {
  font-family: "Verdana";
  font-size: 22px;

}

.projects-menu-list {
  padding-top: 30px;
  padding-left: 30px;
}

.projects-menu-item {
  margin: 10px 0px 10px 0px;
  font-size: 1.2em;
}

.projects-menu,
.projects-illustration-container
{ 
  display: inline-block;
  vertical-align: top;
  width: 49%;
}

.projects-illustration-container {
  position: relative;
  top: -85px;
}

.diamond {
  position: absolute;
  left: 40px;
  height: 12vw;
  min-height: 80px;
  width: 12vw;
  min-width: 80px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.diamond:nth-child(1) {
  background: lightgray;
  top: 40px;
}

.diamond:nth-child(2) {
  background: $blue;
  top: 80px;
}

.diamond:nth-child(3) {
  top: 120px;
  background: $pink;
}

.diamond:nth-child(4) {
  top: 160px;
  background: $yellow;
}
