/* VARIABLES */

/* layout variables */
$headerHeight: 90px;

/* color variables */
$bg: white;
$yellow: rgb(253,255,63);
$blue: deepskyblue;
$pink: rgb(255,64,155);
$lightgray: rgb(240,240,240);
$black: rgb(40,40,40);

.white { background: $bg }
.blue { background: $blue}
.yellow { background: $yellow}
.pink { background: $pink}
.lightgray { background: $lightgray}
.black { background: black;}

/* GENERAL ELEMENTS */


html,body 
{
  max-width:100%;
  height: 100%;
  margin:0;
  padding:0;
  font-size: 100%;
}

body * {
  margin: 0; 
  padding: 0;
}


a,
a:link,
a:hover,
a:visited,
a:active 
{
  text-decoration:none; 
  color: $black;
}

ul 
{
  list-style-type: none;
  margin: 0; padding: 0;
}

li 
{
  list-style-type: none;
}


body
{
  background-color: white;
}


/* LOGO */

.logo-container {
  position: fixed;
  display: inline-block; 
  top: 0px;
  left: 0px;
  width: $headerHeight;
  height: $headerHeight;
  background: $blue;
  text-align: center;
}

#logolink { color: $yellow};

#logotext {
  line-height: $headerHeight;
  display: block;
  font-size: 32px;
  font-family: "Verdana";
  -webkit-text-fill-color: $yellow;
  -webkit-text-stroke-width: 14px;
  -webkit-text-stroke-color: transparent;
  text-shadow: -3px 2px $pink;
}

/* HEADER */

/* Desktop Header */

// side social media menu + search
#social-media {
  position: fixed;
  top: $headerHeight;
  //left: calc( (-1 * #{$headerHeight}) + 20px );
  left: 0;
  width: $headerHeight;
  height: calc( (2 * #{$headerHeight}) + 15px );
}

#social-media .fa {
  margin-top: 19px;
}
#social-media .fa:hover {
  color: $yellow;
}


.fa {
  color: white;
  font-size: 25px;
}


#desktop-header {
  background: $yellow;
  font-family: Verdana;
  width: 100%;
  float:right;
  text-align: center;
  height: $headerHeight;
}

nav {
  display: block;
  height: 100%;
  max-width: 80%;
  margin: 0 auto;
}

nav ul {
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
}

.nav-item {
  box-sizing: border-box;
  display: inline-block;
  font-size: 1.1em;
  line-height: $headerHeight;
  padding-left: 5px;
  padding-right: 5px;
  text-shadow: -1px 1px transparent;
  -webkit-text-stroke-fill: white;
  -webkit-text-stroke-width: 14px;
  -webkit-text-stroke-color: transparent;
}

// hover stuff for nav items
.nav-item:hover {
  border-bottom: 4px solid $blue;
}

// indication of current page
.current-page-highlight {
  border-bottom: 4px solid $pink;
}



#search-input { 
  border: 1px solid $black;
  vertical-align: middle;
  height: 2em;
  padding: 2px 0px 2px 5px; 
}
#search-icon { padding-right: 10px; }


/* Mobile Header */

#mobile-header { 
  display: none; 
  position: fixed;
  top: 0;
  left: $headerHeight;
  width: calc(100% - #{$headerHeight});
  float:right;
  text-align: center;
}

.color-block {
  position: relative;
  display: inline-block;
  width: 10%;
  margin: 0;
  padding: 0;
  margin-left: -4px;
  height: $headerHeight;
}


/* CONTENT */

.content {
  box-sizing: border-box;
  width: calc(100% - #{$headerHeight});
  float: right;
  padding: 0px 80px;
  margin: 0 auto;
}

.content > * {
  max-width: 700px;
  margin: 0 auto;
}
.content p {
  font-size: 1.5em;
  font-family: Baskerville;
  padding-top: 10px;
  padding-bottom: 10px;
}
.content h1 {
  font-size: 3em;
  font-family: Verdana;
  font-weight: 600;
  margin-top: 1.4em;
}

img {
  text-align: center;
  margin: 40px 10%;
  width: 500px;
}

/* PRISM OVERRIDE STYLES */ 
pre[class*="language-"] { 
  background: white;
  border-left: 10px solid rgba(255, 255, 255, 0.5);
  border: 1px solid black;
  margin-top: 40px;
}

pre.code
{
  overflow: hidden;    
}

footer {
  padding: 20px;
  text-align: center;
}

@media(max-width: 700px) {
  #desktop-header { display: none}
  #mobile-header { display: block}
  #search { display: block}
  .content {
    margin-top: 3em;
    width: 100%;
    padding: 20px;
  }
}
