/* VARIABLES */
/* layout variables */
/* color variables */
.white {
  background: white; }

.blue {
  background: deepskyblue; }

.yellow {
  background: #fdff3f; }

.pink {
  background: #ff409b; }

.lightgray {
  background: #f0f0f0; }

.black {
  background: black; }

/* GENERAL ELEMENTS */
html, body {
  max-width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 100%; }

body * {
  margin: 0;
  padding: 0; }

a,
a:link,
a:hover,
a:visited,
a:active {
  text-decoration: none;
  color: #282828; }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }

li {
  list-style-type: none; }

body {
  background-color: white; }

/* LOGO */
.logo {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 90px;
  height: 90px;
  background: deepskyblue;
  text-align: center; }

.logo span {
  line-height: 90px;
  display: block;
  font-size: 32px;
  font-family: "Verdana";
  -webkit-text-fill-color: #fdff3f;
  -webkit-text-stroke-width: 14px;
  -webkit-text-stroke-color: transparent;
  text-shadow: -3px 2px #ff409b; }

/* HEADER */
.logo {
  display: inline-block; }

/* Desktop Header */
#social-media {
  position: fixed;
  top: 90px;
  left: 0;
  width: 90px;
  height: calc( (2 * 90px) + 15px ); }

#social-media .fa {
  margin-top: 20px; }

.fa {
  color: white;
  font-size: 25px; }

#desktop-header {
  background: #fdff3f;
  font-family: Verdana;
  width: 100%;
  float: right;
  text-align: center;
  height: 90px; }

nav {
  display: block;
  height: 100%;
  max-width: 80%;
  margin: 0 auto; }

nav ul {
  display: inline-block;
  width: 100%;
  box-sizing: border-box; }

.nav-item {
  box-sizing: border-box;
  display: inline-block;
  font-size: 1.1em;
  line-height: 90px;
  padding-left: 5px;
  padding-right: 5px;
  text-shadow: -1px 1px transparent;
  -webkit-text-stroke-width: 14px;
  -webkit-text-stroke-color: transparent; }

.nav-item:hover {
  border-bottom: 4px solid #ff409b; }

#search-input {
  border: 1px solid #282828;
  vertical-align: middle;
  height: 2em;
  padding: 2px 0px 2px 5px; }

#search-icon {
  padding-right: 10px; }

/* Mobile Header */
#mobile-header {
  display: none;
  position: fixed;
  top: 0;
  left: 90px;
  width: calc(100% - 90px);
  float: right;
  text-align: center; }

.color-block {
  position: relative;
  display: inline-block;
  width: 10%;
  margin: 0;
  padding: 0;
  margin-left: -4px;
  height: 90px; }

/* CONTENT */
.content {
  box-sizing: border-box;
  max-width: 80%;
  padding: 40px;
  margin: 0 auto; }

.content p {
  font-size: 1.5em;
  font-family: Baskerville;
  padding-top: 10px;
  padding-bottom: 10px; }

.content h1 {
  font-size: 3em;
  font-family: Verdana;
  font-weight: 600;
  margin-top: 3em; }

img {
  text-align: center;
  margin: 40px 10%;
  width: 500px; }

/* PRISM OVERRIDE STYLES */
pre[class*="language-"] {
  background: white;
  border-left: 10px solid rgba(255, 255, 255, 0.5);
  border: 1px solid black;
  margin-top: 40px; }

pre.code {
  overflow: hidden; }

footer {
  padding: 20px;
  text-align: center; }

@media (max-width: 700px) {
  #desktop-header {
    display: none; }

  #mobile-header {
    display: block; }

  #search {
    display: block; }

  .content {
    width: 100%;
    padding: 0; } }

/*# sourceMappingURL=style.css.map */
