@import "base";
@import "components";
@import "header";
@import "about";
@import "content";
@import "projects";
@import "archive";
@import "photos";

@media (min-width: 1300px) {
  .content { 
    width: 800px;
    padding-left: 90px;
  }

}
@media (max-width: 1240px ) {
  .content {
    width: 65vw;
    padding-left: 90px;
  }
  .content li {
    margin-left: 0;
  }
}

@media (max-width: 1000px ) {
  .content {
    width: 500px;
    padding-left: 90px;
  }
  .content li {
    list-style-type: none;
  }
}

@media (max-width: 800px ) {
  .content {
    width: 380px;
    margin: 40px auto;
    padding-bottom: 80px;
    padding-left: 90px;
  }
  .content h1 {
    width: 100%;
    font-size: 28px;
  }
}

@media (max-width: 690px) {
  .content { 
    width: 300px;
    margin: 40px auto;
    padding-left: 0px;
  }
  .content h1, img, p {
    width: 100%;
  }
  pre[class*="language-"] {
    margin: 40px 0px; 
  }
  #social-media {
    position: absolute; 
    top: 90px; 
    left: 0px;
  }
  .main-menu {
    height: $mobileHeaderHeight
  }
  .nav-item, .nav-item:hover {
    border-bottom: none;
  }
  .nav-item:hover {
    color: $pink;
  }
  .nav-item {
    text-align: center;
    display: block !important; 
    height: 20%; 
    line-height: calc(#{$mobileHeaderHeight} / 5);
  }
  code { word-break: break-all}

  span.archive-post-date,
  span.archive-post-text {

    display: block;
  }
}

@media (max-width: 500px) {
  #archive-search {
    width: 60%; margin: 30px auto;
 }
  .archive-post {
    padding: 10px 0px;
  }
  span.archive-post-date {
    margin-right: 0px;
  }

  #photos img {
    width: 100%;
  }
  .content {
    width: 90%; 
    margin: 40px auto; 
    padding: 15px 0px;
  }
  .projects-menu-list {
    font-family: Verdana;
    width: 300px;
    padding-left: 0px;
    padding-top: 40px;
  }
  .projects-illustration-container {
    top: -15px;
  }
  .projects-header { 
    padding-top: 0px;
  }

  .diamond {
    left: 60px;
  }
  .diamond:nth-child(1) {
    top: 20px;
  }

  .diamond:nth-child(2) {
    top: 40px;
  }

  .diamond:nth-child(3) {
    top: 60px;
  }

  .diamond:nth-child(4) {
    top: 80px;
  }
}
