<section class="recent-posts-list"> 

    {% for post in posts %}

        <article class="recent-post"> 

            {% include 'post/title.html' %}
            {% include 'general/byline.html' %}

            <div class="recent-post-stub">
                <div class="recent-post-text">
                    {{ post['short_text'] | markdown }}
                    <a 
                    class="full-article-link"
                    href="{{ url_for('single_post', permalink=post['permalink']) }}">...
                    </a>
                </div>
            </div>

        </article> 

    {% endfor %}

    <h3 class="more-posts">
        <a href="archive">More Posts</a>
    </h3>

    {% include 'post/body_scripts.html' %}
</section> 
