{% extends 'base.html' %}

{% block content %}

    <section class="single-post">

        {% include 'post/title.html' %}
        {% include 'general/byline.html' %}

        {{ post['content'] | markdown }}

        <section class="contribute">
            <div class="contribute-question-container"><i class="fa fa-question"></i></div>
            <p class="contribute-copy"> I welcome constructive corrections to my posts. You can do that by submitting a pull 
                request to my <a class="gh-repo-blog-posts" href="http://github.com/foundling/blog_posts">blog posts repo on GitHub</a>.
            </p>
        </section>

    </section>


{% endblock %}
