<ul class="social-media-icons">
    <li>
        <a 
        title="share this post on twitter" 
        href="https://twitter.com/share?url=http%3A%2F%2Falexramsdell.com%2Fblog%2F{{post['permalink']}}&via=drlolzrofl">
            <i class="fa fa-twitter"></i>
        </a>
        <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
    </li>
    <li>
        <a href="https://github.com/foundling/blog_posts/pulls">
            <i class="fa fa-github"></i>
        </a>
    </li>
</ul>
