<h1 class="recent-post-title">
    <a href="/blog/{{ post['permalink'] }}"> {{ post['title'] | markdown }} </a>
</h1>
<ul class="social-media-icons">
    <li>

    <a href="https://twitter.com/share?url=http%3A%2F%2Falexramsdell.com%2Fblog%2F{{post['permalink']}}&via=drlolzrofl">
        <i class="fa fa-twitter"></i>
    </a>
        <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
    </li>
    <li>
        <a href="">
            <i class="fa fa-reddit-alien"></i>
        </a>
    </li>
    <li>
        <a href="">
            <i class="fa fa-comment"></i>
        </a>
    </li>
</ul>
