<header>

  <h1 class="header-title"><a href="/">Alex Ramsdell</a></h1>
  <h1 class="header-subtitle">
    <span class="red">
    <a href="/archive">writing</a>,
    <a href="/tutorials">tutorials</a>, 
    <a href="/fun">fun</a></span>
  </h1>

  <nav>
    <a href="https://github.com/foundling"><i class="fa fa-github-alt"></i></a>
    <a href="http://stackoverflow.com/users/2446351/foundling"><i class="fa fa-stack-exchange"></i></a>
    <a href="/archive"><i class="fa fa-archive"></i></a>
    <a href="/about-me"><i class="fa fa-info"></i></a>
    <hr>
  </nav>

<div class="mobile-nav">
    <a href=""><i class="fa fa-arrow-left"></i></a>
    <a href=""><i class="fa fa-arrow-right"></i></a>
</div>
</header>
