<header>
  <h1 class="header-title">Alex Ramsdell</h1>
  <h1 class="header-subtitle">
    <span class="red">writing, tutorials, fun</span>
  </h1>
    <a class="link-wrap" href="https://github.com/foundling"</a>
      <i class="header-icons fa fa-github-alt"></i>
    </a>
    <a class="link-wrap" href="http://stackoverflow.com/users/2446351/foundling">
      <i class="header-icons fa fa-stack-exchange"></i>
    </a>
    <a class="link-wrap" href={{url_for('archive')}}>
      <i class="header-icons fa fa-archive"></i>
    </a>
</header>


