<!doctype>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="style.css">
    <style>
        html, body, body * {
            margin: 0;
            padding: 0;
        }
        body {
            background: white;
            text-align: center;
        }
        #canvas {
            display: block;
            background: aliceblue;
            margin: 0 auto;
        }
    </style>
</head>
<body>
    <canvas id="canvas"></canvas>
    <script src="404.js"></script>
</body>
</html>
