<section class="recent-posts-list"> 
    <article class="recent-post"> 

        {% include 'posts/title.html' %}
        {% include 'posts/byline.html' %}

        <p class="recent-post-stub">
        The more programming I do, the more I need a community. But hacker news
        and the many programming sub-Reddits are starting to wear on my sensibilities. 
            <a href="full_article"><i class="fa fa-send"></i></a>
        </p>
    </article> 

    <article class="recent-post"> 
        <h3 class="recent-post-title">Re-examining the Bus Factor</h3>
        <ul class="social-media-icons">
            <li>
                <a href="">
                    <i class="fa fa-twitter"></i>
                </a>
            </li>
            <li>
                <a href="">
                    <i class="fa fa-reddit-alien"></i>
                </a>
            </li>
            <li>
                <a href="">
                    <i class="fa fa-comment"></i>
                </a>
            </li>
        </ul>
        <br>
        <div class="byline">
            <p>
            <i class="pencil-icon fa fa-pencil"></i> 
            <span class="post-published">Dec 1st, 2016</span>
            </p>
        </div>
        <ul class="post-keywords">
            <li class="post-keyword">#culture</li>
        </ul>
        <p class="recent-post-stub">
        In many fields, including open-source software, when a project offers enough value to a community, 
        people start getting, frankly, morbid.
        <a href="full_article">
            <i class="fa fa-send"></i> 
        </a>
        </p>
    </article> 

    <article class="recent-post"> 
        <h3 class="recent-post-title">A Room With a Vue.js</h3>
        <ul class="social-media-icons">
            <li>
                <a href="">
                    <i class="fa fa-twitter"></i>
                </a>
            </li>
            <li>
                <a href="">
                    <i class="fa fa-reddit-alien"></i>
                </a>
            </li>
            <li>
                <a href="">
                    <i class="fa fa-comment"></i>
                </a>
            </li>
        </ul>
        <br>
        <div class="byline">
            <p>
            <i class="pencil-icon fa fa-pencil"></i> 
            <span class="post-published">Dec 1st, 2016</span>
            </p>
        </div>
        <ul class="post-keywords">
            <li class="post-keyword">#vuejs</li>
            <li class="post-keyword">#javascript</li>
        </ul>
        <p class="recent-post-stub">
        Vue.js is a pretty nice framework.  
        <a href="full_article">
        <i class="fa fa-send"></i> 
        </a>
        </p>
    </article> 

    <article class="recent-post"> 
        <h3 class="recent-post-title">
            <a class="recent-post-title-link">Web Synths!</a>
        </h3>
        <ul class="social-media-icons">
            <li>
                <a href="">
                    <i class="fa fa-twitter"></i>
                </a>
            </li>
            <li>
                <a href="">
                    <i class="fa fa-reddit-alien"></i>
                </a>
            </li>
            <li>
                <a href="">
                    <i class="fa fa-comment"></i>
                </a>
            </li>
        </ul>
        <br>
        <div class="byline">
            <p>
            <i class="pencil-icon fa fa-pencil"></i> 
            <span class="post-published">Dec 1st, 2016</span>
            </p>
        </div>
        <ul class="post-keywords">
            <li class="post-keyword">#music</li>
            <li class="post-keyword">#synths</li>
            <li class="post-keyword">#webaudio</li>
        </ul>
        <p class="recent-post-stub">
        I built <a href="projects/nullwerk"><b>nullwerk</b></a>, a Midi-capable web synth. Here's a tutorial that 
        goes through that process.
        <a href="full_article">
        <i class="fa fa-send"></i> 
    </a>
        </p>
        <ul class="post-keywords">
        </ul>
    </article> 

    <h3 class="more-posts">
        <a href="archive">More Posts</a>
    </h3>

</section> 
