<header>

  <span class="padding">
    <h1 class="header-title"><a href="/">Alex Ramsdell</a></h1>
  </span>
  <span class="padding">
    <h1 class="header-subtitle">
      <a class="red" href="/writing">writing</a>,
      <a class="red" href="/tutorials">tutorials</a>, 
      <a class="red" href="/fun">fun</a>
    </h1>
  </span>

    <span class="padding">

  <nav>
    <a href="https://github.com/foundling"><i class="fa fa-github-alt"></i></a>
    <a href="http://stackoverflow.com/users/2446351/foundling"><i class="fa fa-stack-exchange"></i></a>
    <a href="/archive"><i class="fa fa-archive"></i></a>
    <a href="/about-me"><i class="fa fa-info"></i></a>
    <hr>
  </nav>
    </span>

</header>
