<!-- logo -->
<!-- social media bar -->
<aside id="social-media" class="pink media-up">
   <ul>
      <li>
          <a href="https://github.com/foundling">
              <i class="fa fa-github-alt social-media-icon"></i>
          </a>
      </li>
      <li>
          <a href="https://linkedin.com/in/alexramsdell">
              <i class="fa fa-linkedin social-media-icon"></i>
          </a>
      </li>
      <li>
          <a href="https://stackoverflow.com/users/2446351/foundling">
            <i class="fa fa-stack-overflow social-media-icon"></i>
          </a>
      </li>
      <li>
        <a href="{{ url_for('all_posts') }}">
          <i id="archive-icon" class="fa fa-archive social-media-icon"></i>
        </a>
      </li>

      <li>
          <a href="{{ url_for('about_me') }}">
              <i class="fa fa-question-circle social-media-icon"></i>
          </a>
      </li>

    </ul>
</aside>
<h1 class="logo-container">
    <a 
        class="logolink" 
        href="{{ url_for('latest_posts') }}">AR</a>
</h1>

<!-- menu -->
<nav class="main-menu">
    <ul class="header">

        <li class="nav-item" id="blog">
            <a href="{{ url_for('latest_posts') }}">Blog</a>
        </li>
        <li class="nav-item" id="projects">
            <a href="{{ url_for('projects_all') }}">Projects</a>
        </li>
        <li class="nav-item" id="guides">
            <a>Guides</a>
        </li>
        <li class="nav-item" id="fun">
            <a href="{{ url_for('photos', collection_name='iceland') }}">Fun</a>
        </li>

    </ul>
</nav>

<!-- hidden 'to top' button, unhides on scroll down -->
<aside class="hidden" id="to-top">
    <a id="caret" href="#top">^</a>
</aside>
