<section id="photos">
  <h1 class="photos-title">Photos</h2>
  <h2 class="photos-subtitle"></h4>
  <ul class="photos-menu">
      <li {% if collection.name == 'iceland' %}class="active" {% endif %}>
          <a 
              class="photo-album-title" 
              href="{{ url_for('photos', collection_name='iceland') }}">Iceland</a>
      </li>
      <li {% if collection.name == 'the_drive_from_boston_to_seattle' %}class="active"{% endif %}>
          <a 
              class="photo-album-title" 
              href="{{ url_for('photos', collection_name='the_drive_from_boston_to_seattle') }}">The Drive From Boston to Seattle</a>
      </li>
  </ul>

  <div id="gallery">
    {% for photo_name in collection.photos %}
      <a href="{{url_for('static', filename='img/static/' + collection.name + '/med/' + photo_name)}}">
        <img src="{{url_for('static', filename='img/static/' + collection.name + '/med/' + photo_name)}}"></img>
      </a>
    {% endfor %}
  </div>

</section>
